body{
    font-size: 1.2em;    
    color: black;
    display: flex;
}
.top {
    background-color: rgba(56, 56, 56, 0.32);
    text-align: right;
    padding:1.5em;
}
ul  {
list-style: none;

}
ul > li {
    display: inline-block;
}
ul> li> a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding-left: 20px;
    
    
}
img {
    max-width: 100%;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.flex {
    flex: wrap;
    width: 40%;
    flex: flex-start;
}
.sixty {
    width: 60%;
    flex: wrap;
}
.thirds {
    width 30%;
    flex: wrap;
}

.forty {
    width: 30%;
    flex: wrap;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}
.parallax {
    background-image: url(<img src="http://placehold.it/1890x400" alt="replace me">);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

button {
    background-color: rgb(17, 177, 183);
    border: none;
    color: white;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.stars {
    max-width: 
}